<section id="widget-grid">
  <div class="row">
    <article class="col-sm-12 col-md-12 col-lg-8">
      <%= render_widget 'equipment/details' %>
      <%= render_widget 'equipment/information' %>
      <%= render_widget 'document_centre' %>
      <%= render_widget 'gl_mapping' %>
    </article>

    <article class="col-sm-12 col-md-12 col-lg-4">
      <%= render_widget 'equipment/status' %>
    </article>
  </div>
</section>
