<section id="widget-grid">
  <div class="row">
    <article class="col-sm-12 col-md-12 col-lg-8">
      <%= render_widget '../facilities/details' %>
      <%= render_widget '../facilities/information' %>
      <%= render_widget '../facilities/subfacilities' %>
      <%= render_widget 'map' %>
      <%= render_widget 'calendar' %>
      <%= render_widget 'document_centre' %>

      <!-- render Equipment widget -->
       <%= render partial: 'shared/widget_associations', locals: {
        title:        'Equipment Inventory',
        id:           'wid-id-facility-equipment',
        badge_qty:    '2',
        type:         'equipment',
        edit_id:      'facility-equipment',
        associations: [
          {
            url: 'superbox/swimming-tubes.jpg',
            title: 'Swimming Tubes (20)'
          }, {
            url: 'superbox/life-jacket.jpg',
            title: 'Life Jacket (45)'
          }
        ]
      } %>
      <!-- end render Equipment widget -->

      <%= render_widget 'gl_mapping' %>
    </article>

    <article class="col-sm-12 col-md-12 col-lg-4">
      <%= render_widget 'social_media' %>
      <%= render_widget 'carousel' %>
      <%= render_widget 'supervisor' %>
      <%= render_widget 'discount_codes' %>
      <%= render_widget 'access_codes' %>
    </article>
  </div>
</section>
