<%=
###
 # Image row for the carousel
 #
 # @param string 'id'      The zero-initial slide id to give this item.
 # @param string 'src'     The complete path to the image.
 # @param string 'caption' The caption to display.
 #
 # @author Katelyn Sievert <katelyn.sievert@gmail.com
###

activeClass = (defined?(active) && active) ? 'active' : '';

%>

<div class="item <%= activeClass %>"
     data-slide-id="<%= id %>"
>
  <%= image_tag src: src, alt: caption %>
  <div class="carousel-caption caption-right">
    <h4>The bridge</h4>

    <p>
      <%= caption %>
    </p>
  </div>
</div>
